<component name="libraryTable">
  <library name="logback-core-1.1.9">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/jar_files-3/logback-core-1.1.9.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files-3/logback-classic-1.1.9.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files-3/slf4j-api-1.7.22.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>